---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// --- Your Custom CSS ---

// A "wide" page (1200px)
.page-middle .page__inner-wrap {
  max-width: 900px !important;
}

// A "wider" page (1400px)
.page-wider .page__inner-wrap {
  max-width: 1400px !important;
}

// An "extra-wide" page (1600px)
.page-extrawide .page__inner-wrap {
  max-width: 1600px !important;
}
